name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # or master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inject Secrets
        run: |
          sed -i "s/__JSONBIN_SECRET_KEY__/${{ secrets.JSONBIN_SECRET_KEY }}/g" index.html
          sed -i "s/__JSONBIN_BIN_ID__/${{ secrets.JSONBIN_BIN_ID }}/g" index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . # The folder the action should deploy.
          branch: gh-pages # The branch the action should deploy to.
