name: Deploy Shrimp Clicker

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inject Secrets into HTML
        run: |
          # We use quotes around the filename just in case, but index.html is safer!
          sed -i "s/__JSONBIN_SECRET_KEY__/${{ secrets.JSONBIN_SECRET_KEY }}/g" index.html
          sed -i "s/__JSONBIN_BIN_ID__/${{ secrets.JSONBIN_BIN_ID }}/g" index.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . 
          branch: gh-pages
